.thinkdrive-loader {
    background-color: #ffffff; /* White background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#logoCanvas {
    width: 300px;
    height: auto;
}

.loader-overlay {
    margin-top: 20px;
    color: #000; /* Black text for white background */
    font-size: 1.2rem;
    font-weight: 500;
}

#loaderMessage {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

#loaderMessage.visible {
    opacity: 1;
    transform: translateY(0);
}